<ul class="mainList">
    {% for page in pages %}
    <!-- listing begins -->
        <li>
            <a href="{{ url_for("page",path=page.path) }}">{{ page.title }}</a>
            <br>
            <span>{{ page.subtitle }}</span><br>Posted: {{ page.date }}

        {% if page.meta.tags|length %}
            | Tags: 
            {% for page_tag in page.meta.tags %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag  }}</a>
            {% endfor %}
        {% endif %}
        </li>
        <hr>
<!-- list one end -->

        {% else %}
        <li>No page.</li>
    {% endfor %}
</ul>

