{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div>
	<h3>Hi, my name is Saviour Gidi.</h3>
	<h2>I'm an aspiring Fullstack Developer. I live Accra, Ghana.</h2>
    <p>For now I'm with Henson Geodata as a GIS Dev and Linux SysAdmin.</p>
    <br>
    <br>
    On this blog I write about programming, deployment, GIS and any topic mostly related to my environment.</p>

Main Tools:
<br/>
<ul>
    <li>Python(Flask, Django, Tornado, Bottle)</li>
    <li>NodeJS</li>
    <li>Java (Learning)</li>
</ul> 
<ul>
    Frontend:
    <br/>
    <li>HTML/CSS/Boostrap/SemanticUI/Spectre.css</li>
    <li>ReactJS</li>
    <li>Maps, LeafletJS, OpenlayerJS</li>
</ul> 
<ul>
Databases:
    <br/>
    <li>Relational Databases: Postgres, SQLite, Mysql</li> 
    <li>NoSQL: MongoDB</li>
</ul> 
<ul>
Deployment:
    <br/>
    <li>AWS, Google Cloud, Heroku</li>
    <li>Docker Containers</li>
    <li>Linux Server Cofigurations</li>
    <li>Nginx and Apache</li>
</ul>
<ul>
    GIS:
    <br/>
    <li>Spatial Data, Remote Sensing</li>
    <li>ESRI ARCGIS, ArcPY, QGIS, MapInFo, ENVI</li>
    <li>GPS and Field Data Collection</li>
    <li>Geoserver and Geonode</li>
</ul>

<p>If you'd like to get in touch you can reach me via <a href="https://twitter.com/saviour123">Twitter</a>, <a href="about">LinkedIn</a>, or <a href="about">email</a>.</p>

 </div>
{% endblock %}
{% block banner %}
{% endblock %}
