{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="content pure-u-1 pure-u-md-3-4">
<div>
	<h3>Hi, my name is Saviour Gidi.</h3>
	<h2>I'm a a GIS Developer from Volta Region, Ghana.</h2>
				<!-- <img src="{{ url_for('static',filename='img/about.jpeg') }}" alt="" class="pure-img-responsive"> -->
	<p>I do Linux System administration at Henson Geodata. I love and like hacking my way around things with python.
		<br>
	On this blog I write about programming and other technical topics mostly related to my environment.</p>
  <p>If you'd like to get in touch you can reach me via <a href="about">Twitter</a>, <a href="about">LinkedIn</a>, or <a href="about">email</a>.</p>





Skills
Web Development

    PHP (Core SLIM)
    Python(Flask, Django), Data Scraping
    Rails

Chrome Extensions, Ruby on Rails, jQuery, JSP, JSF, YUI,AJAX,CSS/CSS3, Bootstrap
Automation and Scraping

    BeautifulSoup/Requests
    Selenium
    Beautifulsoup

Databases

    MySQL
    SQLite
    MongoDB

Miscellaneous

    Chrome Extensions Development
    XBMC/Kodi Plugins
    Website Performance and Optimization
    Blogging


 </div>
 </div>
{% endblock %}
{% block banner %}
{% endblock %}
