{% extends 'index.html' %}
{% block title %}Projects{% endblock %}  
{% block content %}
<div class="content pure-u-1 pure-u-md-3-4">
    <div>

        <h1>My Projects</h1>
        <p>I've worked on a number of projects over the years. You can learn more about them here.</p>
        <h2>Open-source Web Scraping Library (Python)</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        <p><a href="projects">» Learn more about the project on GitHub</a></p>
        <h2>Game Scripting Engine (Python, C)</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        <p><a href="projects">» Learn more about the project on GitHub</a></p>
        <h2>Personal Website &amp; Programming Blog (Python, HTML, CSS)</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        <p><a href="projects">» Learn more about the project on GitHub</a></p>

    </div>
</div>
{% endblock %}
