{% extends 'index.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="content pure-u-1 pure-u-md-3-4">
    <div>

        <h3>My Projects</h3>
        <p>I have been working on a number of things</p>
        <h2>What3words Covertor</h2>
        <p>A geocoding API implementation. I used the Request library, Flask as usual and what3words</p>
        <hr>

        <h2>A heatmap of Accra Fuel Stations</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        <p><a href="http://github.com/saviour123" target="_blank">» Learn more about the project on GitHub</a></p>
        <hr>

        <h2>Personal Website &amp;  (Python,Flask and Jinja2 templating engin... I love the pronounciation)</h2>
        <p>This website in loaded and am still trying to add more robust things... come back soon
        </p>
        <p><a href="http://github.com/saviour123" target="_blank">» Learn more on GitHub</a></p>

    </div>
</div>
{% endblock %}
