
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    /*font-family: "helvetica neue", "helvetica", sans-serif;*/
}

p {
    font-size: 19px;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: none;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}


.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 1px solid rgb(176, 202, 219);
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 1px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}


@media screen and (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 40% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}


.header > img{
    height: 130px;
    /*border: 2px solid #a1a1a1;
    border-radius: 50%;
    box-shadow: 0px 0px 13px 5px #98b1d2; */
    height: 130px;
    border: 2px solid #7f7fe4;
    border-radius: 8%;
    box-shadow: 0px 0px 9px 1px #98b1d2;
}

/*font awesome stylings*/
.author-social {
    display:block;
    margin-bottom:5px;
    font-size:14px;
    font-size:0.875rem;
    color:#111
}
.author-social:visited {
    color:#111
}
.author-social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1)
}
.author-social:active {
    -webkit-transform:translate(0, 2px);
    -moz-transform:translate(0, 2px);
    -ms-transform:translate(0, 2px);
    -o-transform:translate(0, 2px);
    transform:translate(0, 2px)
}
.author-social .fa {
    margin-right: 5px;
}

.social-tab {
    text-align: right;
    /*margin: 12.167%;*/
    margin: 7.167%;
}

.my-border{
    border-right: 1px solid rgb(176, 202, 219);
}

/*screensize*/
@media only screen and (max-width: 48em){
    .header > img{
        display: none;
    }
    .social-tab{
        text-align: center;
        margin: -33px 0px -33px 0px;
    }
    .author-social{
        display: inline-block;
    }
}

#layout > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    margin-left: -258px;
}

hr{
    clear: both;
    border: none;
    color: #404041;
    text-align: center;
    margin: 14px 0 35px 0;
    height: 14px;
}

hr::after {
    font-size: 14px;
    height: 14px;
    line-height: 0;
    content: "\0ab\00A0\2d\00A0\0bb";
}

.mainList > li{
    list-style-type: none;
    text-decoration: none;
    margin-left: -39px;
}

#footer > p, #footer > p > a{
    font-size: 12px;
    text-align: center;
    color: black;
}

h1{
    font: bold 4em/1.2 'Bad Script';
}
